body {
    background: url(greytiles7.png);
    background-size: cover;
    background-repeat: repeat;
}

#container {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%); /* Yep! */
}

.title{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-block;
    background: #DFFF6D;
    font-family: arial;
    font-size: 22px;
    margin-bottom: 10px;
}

.message{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    background: #808080;
    color: white;
    font-family: arial;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    font-size: 20px;
    color: #fff;
}

.button span {
    display: inline-block;
    padding: 10px 10px;
    background-color: #0CD6FA;
    font-family: Arial, sans-serif;
}

.button:hover span {
    background-color: #0CD6FA;
    text-shadow: 0 -1px 1px rgba(175, 49, 95, .9), 0 0 5px rgba(255, 255, 255, .8);
}

.button:active, .button:focus {
    -webkit-box-shadow:    0 8px 0 #c5376d, 0 10px 5px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 8px 0 #c5376d, 0 5px 5px rgba(0, 0, 0, .3);
    box-shadow:    0 8px 0 #c5376d, 0 5px 5px rgba(0, 0, 0, .3);
}

.button:active span {
    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);
}